
<app-home></app-home>
<div class="container-fluid col-6">
 <h2 class="lead">Contact Details</h2>
 <div class="col-6">
  <label>Email</label>
  <input type="email" class="form-control">

 </div>
 <div class="col-6">
  <label>Mobile</label>
  <input type="text" class="form-control">

 </div>
 <div class="col-6">
  <label>Country</label>
  <input type="text" class="form-control">

 </div>

 <div class="col-6">
  <button class="btn btn-primary mt-3 mx-2" [routerLink]="['/personal-details']">Back</button>
  <button class="btn btn-primary mt-3 mx-2" [routerLink]="['/skills']">Next</button>
 </div>

</div>
