
<app-home></app-home>

<div class="container-fluid col-6">
  <h2 class="lead">Skills</h2>
 <div class="col-6">
  <label>Skill-1</label>
  <input type="text" class="form-control">

 </div>
 <div class="col-6">
  <label>Skill-2</label>
  <input type="text" class="form-control">

 </div>
 <div class="col-6">
  <label>Skill-3</label>
  <input type="text" class="form-control">

 </div>

 <div class="col-6">
  <button class="mt-3 mx-2 btn btn-primary" [routerLink]="['/contact-details']">Back</button>
  <button class="mt-3 mx-2 btn btn-primary" [routerLink]="['/work-experience']">Next</button>
 </div>

</div>